@media screen and (max-width: 768px) {
    #opening-panel {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #opening-text {
        margin-left: 0;
        margin-right: 0;
    }

    #pfp-box {
        margin-left: 0;
        margin-right: 0;
    }

    #contact-list {
        flex-direction: column;
    }

    /* Hamburger menu / Navbar */
    #navbar {
        display: none;
    }
    #hamburger-menu {
        display: flex;
        height: 50%;
    }
    #page-header {
        justify-content: flex-end;
    }

    /* About Section */

    #panel-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .panel.right {
        width: 100%;
        margin: auto;
        text-align: center;
    }

    .panel.left {
        display: flex;
        margin-left: 0;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
        gap: 20px;
    }

    .box {
        text-align: center;
        margin: 0;
    }
}

@media screen and (max-width: 500px) {
    #project-box-wrapper {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    #footer-navbar { /* TODO: FIX SCALING */
        flex-direction: column;
    }
}